.events {
  list-style: none;
  padding: 0;
}

.event {
  margin-bottom: 1rem;
}

.title {
  display: flex;
  justify-content: space-between;
}

.name {
  margin-top: 0;
}

.description {
  margin-top: 0;
}

.footer > a {
  margin-right: 1rem;
}
