.group {
}

.meetupLinks {
  list-style: none;
  padding: 0;
  display: flex;
}
.groupList {
  list-style: none;
  padding: 0;
}

.links {
}
.link {
  margin-right: 1rem;
}

.groupMeetups {
  list-style: none;
  padding: 0;
  display: flex;
}
.groupMeetup {
  background-color: #ddd;
  border-radius: 2px;
  color: var(--text-color);
  height: 20px;
  line-height: 20px;
  width: 20px;
  display: block;
  margin-right: 4px;
  text-align: center;
  text-decoration: none;
}
.groupMeetupLink {
  background-image: var(--gradient);
  background-clip: border-box;
  border-radius: 2px;
  color: white;
  height: 20px;
  line-height: 20px;
  width: 20px;
  display: block;
  margin-right: 4px;
  text-align: center;
  text-decoration: none;
}
.groupMeetupLink:after {
  content: none;
}
