.timestamp {
  min-width: 100px;
}

.groupName {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}

.meetup {
  display: flex;
  flex-direction: row;
}

.meetups {
  margin: 0;
  list-style: none;
  padding: 0;
}
